-r requirements.txt
bump2version==1.0.1
wheel==0.45.1
watchdog==6.0.0
flake8
pycodestyle==2.12.1
autopep8==2.3.1
tox==4.30.3
coverage==7.10.6
Sphinx==8.1.3
cookiecutter==2.6.0
PyYAML>=6.0
pylint==3.3.1
pytest==8.4.2
setuptools>=78.1.1
twine==6.1.0
