click>=6.0
docker>=3.4
python-dotenv
requests
fstrings
msrestazure~=0.4.32
azure-cli
iotedgehubdev >= 0.8.0
applicationinsights
commentjson
pypiwin32==219; sys_platform == 'win32' and python_version < '3.6'
pypiwin32==223; sys_platform == 'win32' and python_version >= '3.6'
