autopep8
azure-cli-cloud
azure-cli-configure
azure-cli-extension
azure-cli-iot
azure-cli-profile
azure-cli-resource
bumpversion
click
docker
flake8
fstrings
pytest
python-dotenv
requests
rope
setuptools>=38.6.0
tox
twine>=1.11.0
wheel>=0.31.0
